{% extends 'ProjectCarRentBundle::bars.html.twig' %}

{% block content %}
	<div class="container col-xs-12 col-md-12">
		<div id="opisA">
			<h1>Chevrolet Aveo</h1>
			<table class="table table-hover">
				<tr class="info">
					<th colspan="3">Opis samochodu</th>
				</tr>
				<tr>
					<td rowspan="7" class="col-sm-12 col-lg-3 info"><img src="{{asset('bundles/projectcarrent/images/chevroletaveo.jpg')}}" class="thumbnail"></td>
					<td colspan="2">Chevrolet Aveo jest samochodem osobowym z segmentu B. Miejski samochód w wersji sedan z silnikiem benzynowy o pojemności 1.2. Elegancki, wyszukany wygląd, sportowe właściwości jezdne dzięki sztywnemu podwoziu, niskie zużycie paliwa, funkcjonalność. Na pokładzie samochodu odnajdziemy wszystko, co mniej lub bardziej potrzebne do codziennej eksploatacji. Ma atrakcyjną ale praktyczną stylistykę, sprytne schowki, przestronne wnętrze. Stylistyka samochodu jest nowoczesna agresywnego wyglądu.</td>
				</tr>
				<tr>
					<td colspan="2"></td>
				</tr>
				<tr>
					<th><small>Wyposażenie</small></th>
				</tr>
				<tr class="info">
					<td><small>- ABS</small></td>
					<td><small>- Centralny zamek</small></td>
				</tr>
				<tr>
					<td><small>- Elektryczne szyby</small></td>
					<td><small>- Immobilizer</small></td>
				</tr>
				<tr class="info">
					<td><small>- Klimatyzacja</small></td>
					<td><small>- Radio+CD</small></td>
				</tr>
				<tr>
					<td><small>- Tempomat</small></td>
					<td><small>- Wspomaganie kierownicy</small></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td align="right">Ocena: <b>4.8</b> <i>Głosów: <b>81</b></i></td>
				</tr>
			</table>
		<div id="opisB" class="row">
			<div id="chbar" class="col-sm-12 col-lg-5">
				<table class="table table-hover">
					<tr>
						<th colspan="3"  class="info">Cechy główne Chevrolet Aveo</th>
					</tr>
					<tr>
						<td><span class="glyphicon glyphicon-plane">Typ</span></td>
						<td><span class="glyphicon glyphicon-tint">Paliwo</span></td>
						<td><span class="glyphicon glyphicon-cog">Skrzynia</span></td>
					</tr>
					<tr  class="info">
						<td>sedan</span></td>
						<td>benzyna</span></td>
						<td>manualna</span></td>
					</tr>
				</table>
			</div>
			<div id="pricelistbar" class="col-sm-12 col-lg-6">
				<table class="table table-hover">
					<tr>
						<th colspan="4" class="info">Cennik</th>
					</tr>
					<tr>
						<td>16-29 dni</td>
						<td>8-15 dni</td>
						<td>4-7 dni</td>
						<td>1-3 dni</td>
					</tr>
					<tr  class="info">
						<td>73 zł</td>
						<td>80 zł</td>
						<td>88 zł</td>
						<td>98 zł</td>
					</tr>
					<tr>
						<td colspan="4"><span class="glyphicon glyphicon-ok">Bez limitu kilometrów!</span></td>
					</tr>
					<tr>
						<td colspan="4"><span class="glyphicon glyphicon-ok">Z pełnym ubezpieczeniem!</span></td>
					</tr>
					<tr>
						<td colspan="4"><span class="glyphicon glyphicon-ok">Bez opłat przygotowawczych!</span></td>
					</tr>
					<tr>
						<td colspan="2" class="info">Kaucja zwrotna:
						<th colspan="2" class="info">500,00 zł</th></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="container col-xs-12 col-md-12">
			<div id="order">
			<a href="" type="button" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-play"></span> Wypożycz</a>
		<div>
	</div>
{% endblock %}