{% extends 'ProjectCarRentBundle::bars.html.twig' %}

{% block content %}

<p style="text-align:center;"><span style="font-family:Helvetica;font-size:42px;font-style:normal;font-weight:bold;text-decoration:none;text-transform:none;color:#333333;">Twoje zamówienia</span>

<style type="text/css">
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #ffcccc;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#ffcccc;border-width: 1px;padding: 8px;border-style: solid;border-color: #ffcccc;text-align:left;}
.tftable tr {background-color:#ffffff;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #ffcccc;}
.tftable tr:hover {background-color:#99ccff;}
</style>

<table class="tftable" border="1">
<tr><th>Samochód</th></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
</table>


{% endblock %}
