{% extends 'ProjectCarRentBundle::bars.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar" class="col-sm-12 col-lg-3">
				<a href="{{path('project_car_rent_car', {car: 14})}}"><img src="{{asset('bundles/projectcarrent/images/renaultclio.jpg')}}" class="thumbnail"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-6">
				<h2><a href="{{path('project_car_rent_car', {car: 14})}}">Renault Clio</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-3">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 73 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
	</div>
{% endblock %}